#head
{
    padding : 10px 20px;
    background - color : blue;
    border - bottom : 2px solid blue;
    position : relative;
    height : 160px;
    padding - right : 0;
    color : blue;
}
#head #logo - wr {
    padding - top : 10px;
    overflow : hidden;
    float : left;
    color : #fff
}
#head #logo - wr #logo
{
    width : 200px;
    height : 100px;
    background - color : blueviolet;
    line - height : 50px;
    text - align : center;
}
#head #nav {
    height : 30px;
    line - height : 30px;
    position : absolute;
    right : 0;
    color : blueviolet;
    bottom : 10px
}
#head #nav li {
    float : right;
    margin : 0 10px
}
#head #nav li a {
    display : block
}
#head #top {
    position : absolute;
    right : 0;
    top : 10px
}
#head #top ul li {
    float : right;
    padding : 0 4px;
    margin : 0 4px;
    font - size : 14px
}
#head #top ul li : nth - child(2) {
    border - right : 1px solid blue
}
#head #search {
    float : right;
    width : 380px;
    height : 50px;
    margin - top : 46px;
    margin - right : 8px
}
#head #search form {
    height : 30px;
    position : relative;
    float : right
}
#head #search form input {
    height : 30px;
    padding : 0 14px;
    border : 1px solid blue
}
#head #search img {
    width : 24px
}
#head #search span {
    margin : 0 10px;
    padding : 0 10px;
}
#head #search form img {
    position : absolute;
    right : 14px;
    top : 0;
    width : 20px;
    margin - top : 5px
}
#head #search #index - icon {
    transform : translate(0, 3px)
}
#search form input[type = submit]
{
    position : absolute;
    right : 14px;
    top : 0;
    width : 30px;
    height : 30px;
    cursor : pointer;
    opacity : 0
}
#head #nav a {
    color : blue
}
 * {
    box - sizing : border - box
}
#container {
    width : 1200px;
    margin : 0 auto
}
ul {
    margin : 0;
    padding : 0
}
li {
    list - style : none
}
a {
    text - decoration : none;
    color : #000
}
p {
    margin : 0
}
html, body {
    position : relative;
    height : 100 % 
}
body
{
    background : white;
    font - family : Helvetica Neue, Helvetica, Arial, sans - serif;
    font - size : 14px;
    color : black
}
#ban
{
    height : 400px;
    background - color :blueviolet;
    margin : 10px 0;
    padding : 40px 0;
    padding - left : 40px;
    color : white
}
#ban #cover {
    width : 220px;
    height : 100 % ;
    float : left;
    position : relative;
    background - color : orange
}
#ban #cover span {
    position : absolute;
    left : 50 % ;
    top : 50 % ;
    font - size : 14px;
    transform : translate(-50 % , - 50 % )
}
#ban #akbg {
    float : left;
    margin - left : 100px;
    width : 300px;
    height : 100 % 
}
#ban #akbg h1 {
    margin : 0;
    margin - bottom : 20px
}
#ban #akbg button {
    padding : 7px 14px;
    background - color : orange;
    border : 0;
    color : #fff;
    margin - top : 18px
}
#ban #iron {
    float : left;
    height : 100 % ;
    padding : 20px;
    background - color : orange;
    margin - right : 100px;
}
#ban #line#r
{
    width : 40px;
    height : 100 % ;
    background - color : blue;
    position : absolute;
    left : 0;
    top : 0;
    z - index : 99
}
#content {
    overflow : hidden
}
#content h1, #content p {
    margin : 0
}
#content #out - best {
    float : left;
    width : 60 % ;
    padding : 40px;
    background - color : white;
    position : relative
}
#content #out - best #con {
    width : 100 % ;
    color : #924108
}
#content #out - best #line {
    width : 100 % ;
    background - color : blue;
    height : 2px;
    margin : 14px 0
}
#content #shop - books {
    float : left;
    width : 40 % ;
    padding : 40px
}
#content #shop - books #con {
    width : 100 % 
}
#content #shop - books #con h1 {
    font - size : 26px
}
#content #shop - books #con ul li {
    height : 30px;
    line - height : 30px;
    color : orange
}
#content #shop - books #con ul li#l {
    margin - bottom : 28px
}
#content a {
    color :blue
}
#footer
{
    height : 60px;
    line - height : 60px;
    border - top : 2px solid #924108;
    font - size : 26px;
    font - weight : 600;
    color : blue;
    text - align : center;
}
#footer #fr {
    float : right
}
#content {
    padding : 20px 0;
    color : orange;
}
